@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,400;0,500;0,800;1,100;1,300;1,400;1,500;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Montserrat Alternates, serif;
}

h1 {
    margin-bottom: 3.5rem;
}

h1 span {
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 10%;
}

.myUnderline {
    background-image: linear-gradient(
        180deg,
        theme('colors.myBlue') 100%,
        theme('colors.myBlue') 100%,
        transparent 54%,
        transparent 100%
    );
}

input:focus, textarea:focus {
    outline: 1px solid theme('colors.pink.300');
    border: solid theme('colors.pink.300');
}

.input-label {
    @apply block mb-2 text-sm text-gray-800 font-bold;
}

.input-error-label {
    @apply text-red-500;
}

.input {
    @apply block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-3xl bg-gray-50 focus:shadow-xl;
}

.input-error {
    @apply border-red-500;
}

.input-error-message {
    @apply text-red-500;
}

.button {
    @apply px-6 py-3.5 w-full text-white font-bold bg-[theme(colors.myBlue)] rounded-xl border-2 border-[theme(colors.myBlue)] hover:bg-white hover:text-[theme(colors.myBlue)];
}

.faqs {
    @apply p-5 my-6 shadow-xl rounded-3xl
}

.pagination-button {
    @apply relative inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-[theme('colors.myBlue')] border border-[theme('colors.myBlue')] leading-5 rounded-md focus:outline-none hover:bg-white hover:text-[theme('colors.myBlue')] transition ease-in-out duration-150
}

.pagination-button-disabled {
    @apply relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-400 cursor-not-allowed border border-gray-300 leading-5 rounded-md focus:outline-none transition ease-in-out duration-150
}
